* {
	margin: 0;
	padding: 0
}
ul, ol, li {
	list-style-type: none;
}
a {
	font-size: 12px;
	color: #333333;
	text-decoration: none;
}
img {
	border:none
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
textarea, input {
	border:none
}
.main {
	width: 1000px;
	margin:0 auto;
}
.conatrainer {
	background-image: url(../images/body_bg.gif);
	background-repeat: repeat-x;
	background-position: center 218px;
}
.header img {
	padding-top: 54px;
	padding-left: 43px;
}
.earth {
	float: left;
	display:inline
}

.earth img {
	padding-top: 102px ;
	padding-left: 14px;
	*margin-top:-3px
    
}
.content{
    position:relative
}

.content .login {
	float: left;
	background-image: url(../images/loginbg.png);
	background-repeat: no-repeat;
	height: 424px;
	width: 326px;
	margin-left: 50px;
	display: block;
	margin-top: 16px;
	margin-bottom: 20px;
	
}
.login .formarea {
	margin-top: 124px;
	margin-left: 40px;
}
.login .formarea .user {
	padding-bottom: 40px;
}

.login .formarea .user p {
	float: left;
	font-size: 14px;
	font-weight: bold;
	padding-right: 11px;
	padding-top: 6px;
   display:block
}
.login .formarea .user #usename {
    width:184px;
	height:22px;
	float:left
}
.login .formarea .pass p {
	float: left;
	font-size: 14px;
	font-weight: bold;
	padding-right: 10px;
	padding-top: 6px;
	*margin-top:-4px
}
.login .formarea .pass #password {
	height: 22px;
	width: 184px;
	*margin-top:-4px
}
.login .formarea .prove p {
	font-size: 14px;
	font-weight: bold;
	float: left;
	margin-left: -50px;
	padding-top: 25px;
	display:block;
	*margin-top:-4px
}
.login .formarea .prove #randNum {
	height: 22px;
	width: 100px;
	float: left;
	margin-top: 20px;
}
.login .formarea .prove img {
	padding-left: 8px;
	padding-top:25px;
	margin-top:-4px;
	*margin-top:-2px;
	float: left;
}
.content .buttonActive {
	float:center;
	padding-top: 40px;
	*margin-top:-18px;
	
}
#form-login{
	position:relative
}
.error{
    color:#f00;
    position:absolute;
    top:370px;
    left:750px;
}
.login .buttonActive p {
	color: #f00;
	top:110px;
	left:120px;
	
	
		
}
.footer {
	text-align: center;
	color: #737373;
}
